/* WEB IRC */

:root{
	/* Cores dos usuários */
	--c1: #cc90e2;
	--c2: #80d066;
	--c3: #ecd074;
	--c4: #f98bae;
	--c5: #73cdd0;
	/* Cor primária */
	--main: #6b8eb9;
}

*{
	box-sizing: border-box;
	-webkit-transition: 0.1s ease-out;
	-moz-transition: 0.1s ease-out;
	-ms-transition: 0.1s ease-out;
	-o-transition: 0.1s ease-out;
	transition: 0.1s ease-out;
}

body{
	margin:0;
	padding:0;
	background-color: #dcdcdc;	
	font-family: roboto, open sans, arial;
	font-size: 16px;
	color: whitesmoke;
}

#container{
	position: absolute;
	width: 90%;
	margin-left: 5%;
	height: 90%;
	margin-top: 2%;
	border-radius: 1px;
	border: 1px solid rgba(0,0,0,0.3);
	background-color: white;
}

#side{
	width: 360px;
	height: 100%;
	float: left;
	overflow: hidden;
	background-color: white;
}

#main{
	width: calc(100% - 360px);
	height: 100%;
	float: right;
}

header{
	height: 60px;
	width: 100%;
	background-color: var(--main);
}

#talks{
	width: 100%;
	height: calc(100% - 110px);
	border-right: 1px solid rgba(0,0,0,0.2);
	overflow-y: auto;
	overflow-x: hidden;
}

#search{
	width: 100%;
	height: 50px;
	padding: 10px 0px;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
}

#search input[type='text']{
	height: 30px;
	width: 320px;
	padding-left: 35px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 1px;
	outline: none;
}

#search .fa{
	position: absolute;
    line-height: 30px;
    margin-left: 10px;
    color: #bbb;
}

input[type='text'], textarea{
	font-family: roboto;
	font-size: 16px;
	color: #101010;
}

textarea{
	width: 90%;
    line-height: 20px;
    outline: none;
    resize: none;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 5px;
    box-sizing: border-box;
}

textarea:focus{
	border: 1px solid rgba(0,0,0,0.3);
}

#chat-container{
	width: 100%;
	height: calc(100% - 150px);
	overflow-y: auto;
	overflow-x: hidden;
}

#chat{
	display: inline-block;
	width: 100%;
	min-height: 100%;
	padding-bottom: 20px;
}


footer{
	width: 100%;
	height: 90px;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.1);
	background-color: whitesmoke;
}

.avatar-container{
	padding: 10px;
    padding-left: 20px;
    width: 90px;
    height: 100%;
    float: left;
}

.avatar{
	color: white;
	text-align: center;
    font-family: roboto;
    letter-spacing: 1px;
    overflow: hidden;
	border-radius: 50px;
}

.big-avatar, #talks .avatar{
	font-size: 25px;
	width: 50px;
	height: 50px;
    line-height: 50px;
}
.big-avatar img, #talks .avatar img{
	max-width: 50px;
	max-height: 50px;
}

.small-avatar, #chat .avatar{
	font-size: 20px;
	width: 40px;
	height: 40px;
    line-height: 40px;
}

.conversation[name='server'] .avatar{
	background-color: #4747a6;
	color: transparent;
	background-image: url(../img/server.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

/* Cores dos avatares */
.a1{
	background-color: var(--c1);
}
.a2{
	background-color: var(--c2);
}
.a3{
	background-color: var(--c3);
}
.a4{
	background-color: var(--c4);
}
.a5{
	background-color: var(--c5);
}

/* Cores dos nomes */
.n1{
	color: var(--c1);
}
.n2{
	color: var(--c2);
}
.n3{
	color: var(--c3);
}
.n4{
	color: var(--c4);
}
.n5{
	color: var(--c5);
}

.avatar .fa{
	line-height: 50px;
    font-size: 25px;
}


.conversation{
	width: 100%;
    color: #202020;
    height: 70px;
    border-bottom: 1px solid #d9d9d9;
    cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.conversation:hover{
	background-color: #ebf6ff;
}

.conversation-content{
	width: calc(100% - 100px);
	height: 100%;
	padding-top: 15px;
	display: inline-block;
}

.conversation-name{
	color: #303030;
	font-weight: bold;
	font-family: roboto;
	font-family: 16px;
	line-height: 20px;
}

.conversation-info{
	color: grey;
	font-family: roboto;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
    overflow: hidden;
}

.conversation.new-messages .conversation-info{
	color: var(--main);
	font-weight: bold;
}

.conversation.selected {
	background-color: var(--main);
}
.conversation.selected .conversation-name, 
.conversation.selected .conversation-info{
	color: whitesmoke;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    border-radius: 1px;
    background-color: transparent;
}
#talks::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: transparent;
}
#talks:hover::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #d8e3ec;
}

#chat-info{
	height: 100%;
	padding: 10px;
}

#chat-name{
	font-size: 19px;
}

#chat-topic{
	font-size: 14px;
}

#chat-options{

}


.message-container{
	width: 100%;
	display: inline-block;
	padding: 10px 50px;
}

.message{
	background-color: #f3f4f6;
    color: #404040;
    font-size: 15px;
    display: inline-block;
    padding: 6px 15px 10px 15px;
    border-radius: 2px;
    float: left;
    min-width: 200px;
    max-width: 90%;
    overflow: hidden;
}

.message.me{
	background-color: #d2edf8;
	float: right;
}

.message-name{
	font-size: 13px;
	font-weight: bold;
	font-family: open sans;
	margin-bottom: 3px;
	cursor: pointer;
}

.message-time{
	font-size: 13px;
    float: right;
    margin-top: 3px;
    color: #a5a4a4;
}

a, a:link, a:visited{
	color: steelblue;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.server a{
	color: #dcdcdc;
	text-decoration: underline;
}

iframe.youtube{
	width: 400px;
	height: 200px;
	border: 0;
}

iframe.youtube, #chat .image{
	max-width: 385px;
	max-height: 300px;
	display: block;
	margin-top: 5px;
	margin-bottom: 8px;
}

.message-content{
    line-height: 24px;
    min-height: 24px;
    white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.message.server{
	background-color: #4747a6;
	color: whitesmoke;
}

.message.server .message-name, .message.server .message-time{
	color: #dcdcdc!important;
	cursor: default;
}
.message.me .message-name{
	color: #202020!important;
	cursor: default;
}

#chat img.emote{
	width: 23px;
	margin-bottom: -5px;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.notice{
	width: 90%;
	color: #505050;
	text-align: center;
	padding: 6px;
	padding-top: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	font-size: 14px;
	margin: 0 auto;
}

.notice .message-time{
	margin-top: -20px;
	display: none;
}

@media screen and (max-width: 950px){
	#container{
		width: 100%;
		margin-left: 0;
		height: 100%;
		margin-top: 0;
		border-radius: 0;
		border: 0;
		top: 0;
		left: 0;
	}	
}

@media screen and (max-width: 800px){

	.message-container{
		padding: 10px 30px;
	}
	.message{
		max-width: 100%;
	}
}

@media screen and (max-width: 750px){

	#side{
		position: fixed;
		width: 100%;
		display: none;
	}
	#main{
		width: 100%;
	}

}